<!-- templates/accounts/spotify_settings -->
{% extends "base.html" %}
{% load static %}

{% block title %} Account {% endblock %}

{% block content %}

<h2>Account</h2>

{% if error %}
    <p>{{ error }}</p>
{% endif %}

{% if connected %}
    <p>Spotify User ID: {{ profile.spotify_user_id }}</p>
{% else %}
    <p>You are not connected to Spotify.</p>
    <div class="actions">
        <a class="primary-link" href="{% url 'connect_spotify' %}">Connect to Spotify</a>
    </div>
{% endif %}

{% endblock %}
