<!-- templates/home.html -->
{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

{% if user.is_authenticated %}
  <div class="home-title">Hi {{ user.username }}!</div>
  <div class="actions">
    <a class="primary-link" href="{% url 'spotify_settings' %}">Account</a>
    <a class="primary-link" href="{% url 'password_change' %}">Password Change</a>
    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button type="submit">Log Out</button>
    </form>
  </div>
{% else %}
  <div class="home-subtitle">You are not logged in</div>
  <div class="actions">
    <a class="primary-link" href="{% url 'login' %}">Log In</a>
    <a href="{% url 'signup' %}">Sign Up</a>
  </div>
{% endif %}
{% endblock %}
